@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-arial);
  cursor: url(/posts/cursorhjerte.png), auto;
}

@layer base {
  p {
    @apply text-base;
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
  h6 {
    @apply text-lg;
  }
}

@font-face {
  font-family: 'Necto-Mono';
  src: url('/fonts/Necto-Mono.woff2') format('woff2'),
       url('/fonts/Necto-Mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dauphine-Regular';
  src: url('/fonts/Dauphine-Regular.woff2') format('woff2'),
       url('/fonts/Dauphine-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Necto-Mono', sans-serif; /* Default font */
}

main {
  flex: 1; /* Or flex-grow: 1;*/
}
h1 {
  font-family: var(--font-Necto-Mono);
}

h2 {
  font-family: var(--font-Dauphine-Regular);
}

h3 {
  font-family: var(--font-Dauphine-Regular);
}

a {
  color: rgb(255 26 102);
  text-decoration: underline;
  cursor: url(/posts/cursorhjerte.png), pointer;
}

a:hover {
    text-decoration:none;
    cursor: url(/posts/cursorregnbue.png), pointer;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-font-necto-h1 {
    font-family: 'Necto-Mono', sans-serif;
    font-size: 57em;
  }

  .custom-font-necto-h3 {
    font-family: 'Necto-Mono', sans-serif;
    font-size: 21em;
  }

  .custom-font-dauphine-h4 {
    font-family: 'Dauphine-Regular', sans-serif;
    font-size: 30em;
  }
  
  .custom-font-dauphine {
    font-family: 'Dauphine-Regular', sans-serif;
  }

  .navhover {
    background-color: #FFB2D9;
    box-shadow: 0.3em 0.3em 1em rgb(0 0 0 / 60%); 
    position: relative;
  }

  .linkunderline {
    text-decoration: wavy;
    color: rgb(255 26 102);
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
