@font-face {
  font-family: "whoismono";
  src: url("./fonts/whois-mono.eot");
  src: url("./fonts/whois-mono.eot?#iefix") format("embedded-opentype"),
    url("./fonts/whois-mono.woff") format("woff"),
    url("./fonts/whois-mono.ttf") format("truetype"),
    url("./fonts/whois-mono.svg#whoismono") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px;
  font-family: Arial, Helvetica;
}

main {
  margin-top: 10%;
}
h1 {
  font-family: "whoismono";
  margin-bottom: 10%;
}

h2 {
  font-family: "whoismono";
  margin-top: 7%;
}

p {
  margin-top: 25px;
  margin-bottom: 20px;
}

p a {
  color: black;
  font-weight: bold;
}

p a:hover {
  color: blue;
}

::-moz-selection {
  background: #ffb2d9;
}

::selection {
  background: #ffb2d9;
}

.container-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.container-body-about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.korpus-text {
  flex: 1 1 55%;
  padding: 10px;
  font-size: clamp(22px, 23px, 25px);
}

.container-space {
  padding: 10px;
}
.collapsible {
  all: unset;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: clamp(24px, 25px, 26px);
  font-weight: bold;
  font-family: "whoismono";
}

.active,
.collapsible:hover {
  color: blue;
}

.collapsible::after {
  content: "▶";
  float: left;
  margin-right: 2%;
}

.collapsible.active::after {
  content: "▼";
}

.content {
  padding: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  display: none;
  overflow: hidden;
  font-size: clamp(20px, 21px, 23px);
}

.content a {
  font-weight: bold;
  background: linear-gradient(0deg, rgb(86, 86, 250), rgb(245, 108, 245))
    no-repeat right bottom / 0 var(--bg-h);
  --bg-h: 100%;
}

.content a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  text-decoration: none;
  font-weight: bold;
}

.content ul li a {
  font-weight: bold;
}

.about {
  background-color: #0e6d66;
}

.about-img img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.about-img {
  flex: 1 1 40%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.library {
  background-color: #af949d;
}

.shadow-box-bottom {
  background-color: #ffff;
  box-shadow: rgb(0, 0, 224) 1px 1px 1px 2px inset,
    rgb(255, 255, 255) 10px -10px 0px -3px, rgb(0, 0, 224) 10px -10px,
    rgb(255, 255, 255) 20px -20px 0px -3px, rgb(0, 0, 224) 20px -20px,
    rgb(255, 255, 255) 30px -30px 0px -3px, rgb(0, 0, 224) 30px -30px,
    rgb(255, 255, 255) 40px -40px 0px -3px, rgb(0, 0, 224) 40px -40px;
  padding: 0.7%;
  position:fixed;
  bottom: 2%;
  right: 5%;
  font-size: small;
  margin-top: auto
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
  height: 5%;
  border: 3px black solid;
}

.nav li {
  display: inline-block;
  padding: 0 20px;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-size: 2.5vw;
  font-weight: bolder;
}

.nav li a:hover {
  color: transparent;
  text-shadow: 0 0 3px blue;
}

@media only screen and (max-width: 400px) {
  .nav {
    display: none;
  }

  .box-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 90px;
  }

  .box-menu span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
  }
  .box-menu a {
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    color: black;
  }
}

@media only screen and (max-width: 767px) {
  .korpus-text {
    width: 100%;
  }
  .container-space {
    display: none;
  }
  .nav {
    display: none;
  }

  .box-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    height: 90px;
  }

  .box-menu span {
    display: block;
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
  }
  .box-menu a {
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
    color: black;
  }
  .shadow-box-bottom {
    padding: 2%;
    position: fixed;
    bottom: 10%;
    right: 12%;
    font-size: small;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .korpus-text {
    width: 90%;
  }
  .container-space {
    width: 10%;
  }
  .box-menu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .korpus-text {
    width: 70%;
  }
  .container-space {
    width: 30%;
  }
  .box-menu {
    display: none;
  }
}
